footer.m_footer(itemscope itemtype="http://schema.org/Organization")
  .wrapper
    .top
      .column
        ul
          li: a(href="#") О компании
          li: a(href="#") Наши преимущества
          li: a(href="#") Медиагалерея
          li: a(href="#") Вакансии
          li: a(href="#") Контакты
      .column
        ul
          li: a(href="#") Услуги «под ключ»
          li: a(href="#") Электротехническая лаборатория
          li: a(href="#") Проектировщикам
      .column
        ul
          li: a(href="#") Опросные листы
          li: a(href="#") Лицензии
          li: a(href="#") Отзывы
          li: a(href="#") Референс-лист
      .column
        .contacts
          p(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress") <span itemprop="addressLocality">г. Шлиссельбург</span>, <span itemprop="streetAddress">Красный тракт, 16А</span>
          p Тел: <b itemprop="telephone">+7 (812) 318-14-48</b>
          p: a(href="mailto:info@storge.ru" itemprop="email") info@storge.ru
    .bottom
      .copyright © 1992–2016 ГК «<span itemprop="name">СТОРГЕ<span>» ISO 9001:2008 «СТОРГЕ»
      .developed Разработка сайта: <a target="_blank" href="http://pikmedia.ru/">«Пикмедиа»</a>
