.m_news-item
  margin-top 20px
  &:first-child
    margin-top 0
  .post-date
    font-size 11px
    line-height 1.5
    color #999999
    text-transform uppercase
  .title
    a
      display inline-block
      vertical-align middle
      color $blue
      font-size 14px
      line-height 24px
      &:hover
        color $red
  .desc
    font-size 14px
    line-height 24px
    padding-bottom 15px