.m_info
  background #f5f7ff
  border 1px solid #eaeef8
  border-radius $radius
  padding 15px
  .title
    font-weight bold
    text-align center
    font-size 18px
    text-transform uppercase
    margin-bottom 15px
    @media XS
      font-size 20px
  p
    color #555555
    font-size 14px
    text-align center
  .action
    text-align center
    a
      padding-left 75px
      padding-right 75px
