html
  position relative
  min-height 100%
body
  width 100%
.container
  height 100%
.wrapper
  clearfix()
  position relative
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
main
  clearfix()
  display block
  max-width $wrapper
  padding 0 15px
  margin 0 auto
  position relative
  padding 30px 15px
  .m_sidebar
    @media SM
      width 32%
      float left
    @media MD
      width 23.5%
  .content
    @media SM
      width 65%
      float left
      margin-left 3%
    @media MD
      width 74.5%
      margin-left 2%
    .m_products
      padding-top 0
      background none
      .m_item
        .title a
          height auto
  .m_sidebar.right
    @media SM
      float right
      & + .content
        margin-left 0
        margin-right 3%
    @media MD
      & + .content
        margin-right 2%

.layout
  transition opacity .25s ease-in
  transition-delay .05s
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  background $black
  opacity 0
  z-index 5
  width 0
  height 0
  &.active
    opacity .5
    width 100%
    height 100%

.space
  padding 30px 0
  @media MD
    padding 50px 0

.columns
  clearfix()
  .column
    margin-top 15px
    &:first-child
      margin-top 0
  &.col-2
    @media screen and (min-width: 568px)
      margin-top -4%
      .column
        float left
        width 48%
        margin-top 0
        margin-left 4%
        margin-top 4%
        &:nth-child(2n+1)
          margin-left 0
          clear left
  &.col-3
    @media screen and (min-width: 480px) and (max-width: 991px)
      margin-top -4%
    @media screen and (min-width: 992px)
      margin-top -2%
    .column
      @media screen and (min-width: 480px) and (max-width: 991px)
        float left
        width 48%
        margin-top 0
        margin-left 4%
        margin-top 4%
        &:nth-child(2n+1)
          margin-left 0
          clear left
      @media screen and (min-width: 992px)
        float left
        width 32%
        margin-top 0
        margin-left 2%
        margin-top 2%
        &:nth-child(3n+1)
          margin-left 0
          clear left
  &.col-4
    @media screen and (min-width: 480px) and (max-width: 767px)
      margin-top -4%
    @media screen and (min-width: 768px)
      margin-top -2%
    .column
      @media screen and (min-width: 480px) and (max-width: 767px)
        float left
        width 48%
        margin-top 0
        margin-left 4%
        margin-top 4%
        &:nth-child(2n+1)
          margin-left 0
          clear left
      @media screen and (min-width: 768px) and (max-width: 991px)
        float left
        width 32%
        margin-top 0
        margin-left 2%
        margin-top 2%
        &:nth-child(3n+1)
          margin-left 0
          clear left
      @media screen and (min-width: 992px)
        float left
        width 23.5%
        margin-top 0
        margin-left 2%
        margin-top 2%
        &:nth-child(4n+1)
          margin-left 0
          clear left

.mfp-s-loading .mfp-arrow
  display none

