html, body
  height 100%
body
  position relative 
  display table
  width 100%  
.container,
.m_footer,
.m_header
  display table-row
  height 1px
.container
  height 100%
.wrapper
  clearfix()
  position relative
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
main
  display block
  max-width $wrapper
  padding 0 15px
  margin 0 auto
  position relative
