// Sprite size
$sprite = 200px 300px

// Custom
$radius = 3px
$wrapper = 1200px

// Colors
$black = #000
$blue = #3853a4
$red = #ed1d24
$border = #dcdcdc

// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 960px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 480px)"
