-
  var lead_carousel  = [
    {
      image: 'images/lead-carousel/1.jpg',
      title: 'Комплексные услуги по энергоснабжению гражданских и промышленных объектов'
    },
    {
      image: 'images/lead-carousel/2.jpg',
      title: 'Купить готовую типовую продукцию собственного производства'
    }
  ]

-
  var lead_products  = [
    {
      image: 'images/products/1.jpg',
      title: 'КТП в металлической оболочке 6(10)/0.4 кВ мощностью 16-2500 кВА'
    },
    {
      image: 'images/products/2.jpg',
      title: 'БКТП в железобетонной оболочке 6(10)/0.4 кВ мощностью до 2500 кВА'
    },
    {
      image: 'images/products/3.jpg',
      title: 'КТП блочно-модульного (контейнерного) типа'
    },
    {
      image: 'images/products/4.jpg',
      title: 'БКРП в железобетонных корпусах'
    },
    {
      image: 'images/products/5.jpg',
      title: 'Электротехническое оборудование среднего напряжения'
    },
    {
      image: 'images/products/6.jpg',
      title: 'Электротехническое оборудование низкого напряжения'
    },
    {
      image: 'images/products/7.jpg',
      title: 'Выключатели нагрузки и разъединители'
    },
    {
      image: 'images/products/8.jpg',
      title: 'КТП в металлической оболочке 6(10)/0.4 кВ мощностью 16-2500 кВА КТП в металлической оболочке 6(10)/0.4 кВ мощностью 16-2500 кВА'
    }
  ]

-
  var about_icons  = [
    {
      image: 'images/pluses/1.png',
      title: 'Более 20 лет на рынке'
    },
    {
      image: 'images/pluses/2.png',
      title: 'Качество и надежность проверены временем'
    },
    {
      image: 'images/pluses/3.png',
      title: 'Инновации и уникальные предложения на рынке'
    },
    {
      image: 'images/pluses/4.png',
      title: 'Полная заводская готовность изготавливаемой продукции '
    },
    {
      image: 'images/pluses/5.png',
      title: 'Разработка индивидуальных технических решений и нетиповых проектов'
    },
    {
      image: 'images/pluses/6.png',
      title: 'Замкнутый цикл производства на собственных мощностях 23 000 м'
    }
  ]

-
  var lead_news  = [
    {
      date: '11 ноября 2016',
      title: '«СТОРГЕ» на IDES Siberia-2014'
    },
    {
      date: '11 ноября 2016',
      title: 'Компания «СТОРГЕ» – участник XVII выставки «Энергетика»'
    },
    {
      date: '11 ноября 2016',
      title: '«СТОРГЕ» презентовала выключатель нагрузки LBI 12-24 кВ на корпоративном семинаре «МРСК Северо-Запада»'
    },
    {
      date: '11 ноября 2016',
      title: '«СТОРГЕ» на IDES Siberia-2014'
    }
  ]


-
  var products  = [
    {
      image: 'images/products/1.jpg',
      title: 'КТП в металлической оболочке 6(10)/0.4 кВ мощностью 16-2500 кВА'
    },
    {
      image: 'images/products/2.jpg',
      title: 'БКТП в железобетонной оболочке 6(10)/0.4 кВ мощностью до 2500 кВА'
    },
    {
      image: 'images/products/3.jpg',
      title: 'КТП блочно-модульного (контейнерного) типа'
    },
    {
      image: 'images/products/4.jpg',
      title: 'БКРП в железобетонных корпусах'
    },
    {
      image: 'images/products/5.jpg',
      title: 'Электротехническое оборудование среднего напряжения'
    },
    {
      image: 'images/products/6.jpg',
      title: 'Электротехническое оборудование низкого напряжения'
    },
    {
      image: 'images/products/7.jpg',
      title: 'Выключатели нагрузки и разъединители'
    },
    {
      top: true,
      label: 'Типовая продукция',
      image: 'images/products/0.png'
    }
  ]

-
  var products_level_2  = [
    {
      image: 'images/products/1.jpg',
      title: 'МТП'
    },
    {
      image: 'images/products/2.jpg',
      title: 'СТП'
    },
    {
      image: 'images/products/3.jpg',
      title: 'МТП-2'
    },
    {
      image: 'images/products/5.jpg',
      title: 'КТП-250кВ'
    },
    {
      image: 'images/products/6.jpg',
      title: 'КТП-100кВ'
    }
  ]