.m_vacancy-header
  clearfix()
  background #f0f2f7
  border-radius $radius
  padding 20px
  margin-bottom 30px
  @media XS
    padding 40px 20px
  @media LG
    padding 30px 40px
  .label
    font-size 14px
    color #999999
    @media XS
      margin-bottom 10px
  .value
    font-size 30px
    line-height 1
    color #000
    font-weight bold
  .cost
    margin-bottom 20px
    @media XS
      margin-bottom 0
  > div
    @media XS
      float left
      width 50%
    @media XS
      width auto
      padding-right 70px
