extends ../modules/layout/layout.jade

block title
  title Проектировщикам

block data
  include ../static/content/_home.jade

block content
  .page-title(style="background-image: url('images/page-title/8.jpg')")
    .wrapper
      .m_breadcrumbs
        ul
          li: a(href="#") Главная
          li: a(href="#") Проектировщикам
      .title
        span Проектировщикам
  main
    aside.m_sidebar.right
      .button.bfxd
      .m_sidebar-menu
        ul
          li: a(href="#") Опросные листы
          li: a(href="#") Лицензии
          li: a(href="#") Отзывы
          li: a(href="#") Референс-лист
      .m_sidebar-consult
        .title Получить бесплатную консультацию
        p У вас есть вопросы? Наши сотрудники с удовольствием ответят на них.
        .action
          a(class="popup button red" href="#popup-help") Отправить запрос
        .tel
          span или связаться с нами по телефону
          a(href="tel:+78123181448") +7 (812) 318-14-48
    .content
      article
        lorem(size="2")
        lorem(size="2")
      .m_docs
        .list
          - for (var x = 0; x < 6; x++)
            .item
              a(href="#") Название документа для скачивания
      .m_info
        .title Заинтересовались нашей продукцией?
        p Оставьте вашу заявку и мы пришлем вам всю необходимую информацию
        .action
          a(class="popup button red" href="#popup-album") Оставить заявку
