extends ../modules/layout/layout.jade

block title
  title Отзывы

block data
  include ../static/content/_home.jade

block content
  .page-title(style="background-image: url('images/page-title/6.jpg')")
    .wrapper
      .m_breadcrumbs
        ul
          li: a(href="#") Главная
          li: a(href="#") Отзывы
      .title
        span Отзывы
  main
    aside.m_sidebar.right
      .button.bfxd
      .m_sidebar-menu
        ul
          li: a(href="#") Опросные листы
          li: a(href="#") Лицензии
          li: a(href="#") Отзывы
          li: a(href="#") Референс-лист
      .m_sidebar-consult
        .title Получить бесплатную консультацию
        p У вас есть вопросы? Наши сотрудники с удовольствием ответят на них.
        .action
          a(class="popup button red" href="#popup-help") Отправить запрос
        .tel
          span или связаться с нами по телефону
          a(href="tel:+78123181448") +7 (812) 318-14-48
    .content
      .m_comments
        .item
          .image
            a(href="images/certificates/small.jpg")
              img(src="images/certificates/small.jpg" alt="")
          .desc
            .title ОАО "ЛОЭСК"
            .username А.А. Паккарь, заместитель генерального директора
            .message Благодарим коллектив ООО «СТОРГЕ» за качественное, своевременное и добросовестное выполнение поставок комплектных трансформаторных подстанций мощностью от 25 до 630 кВА, камер КСО-386, КСО-366, КСО-285, панелей ЩО-70, кабельных делителей КЛ-209, РУВН, распределительных устройств серии КРУ СЭЩ, а также за доброжелательность, оперативность и профессионализм в работе.
            .details: a(href="#") Подробнее →
        .item
          .image
            a(href="images/certificates/small.jpg")
              img(src="images/certificates/small.jpg" alt="")
          .desc
            .title ОАО "ЛОЭСК"
            .username А.А. Паккарь, заместитель генерального директора
            .message Благодарим коллектив ООО «СТОРГЕ» за качественное, своевременное и добросовестное выполнение поставок комплектных трансформаторных подстанций мощностью от 25 до 630 кВА, камер КСО-386, КСО-366, КСО-285, панелей ЩО-70, кабельных делителей КЛ-209, РУВН, распределительных устройств серии КРУ СЭЩ, а также за доброжелательность, оперативность и профессионализм в работе.
            .details: a(href="#") Подробнее →
        .item
          .image
            a(href="images/certificates/small.jpg")
              img(src="images/certificates/small.jpg" alt="")
          .desc
            .title ОАО "ЛОЭСК"
            .username А.А. Паккарь, заместитель генерального директора
            .message Благодарим коллектив ООО «СТОРГЕ» за качественное, своевременное и добросовестное выполнение поставок комплектных трансформаторных подстанций мощностью от 25 до 630 кВА, камер КСО-386, КСО-366, КСО-285, панелей ЩО-70, кабельных делителей КЛ-209, РУВН, распределительных устройств серии КРУ СЭЩ, а также за доброжелательность, оперативность и профессионализм в работе.
            .details: a(href="#") Подробнее →
        .item
          .image
            a(href="images/certificates/small.jpg")
              img(src="images/certificates/small.jpg" alt="")
          .desc
            .title ОАО "ЛОЭСК"
            .username А.А. Паккарь, заместитель генерального директора
            .message Благодарим коллектив ООО «СТОРГЕ» за качественное, своевременное и добросовестное выполнение поставок комплектных трансформаторных подстанций мощностью от 25 до 630 кВА, камер КСО-386, КСО-366, КСО-285, панелей ЩО-70, кабельных делителей КЛ-209, РУВН, распределительных устройств серии КРУ СЭЩ, а также за доброжелательность, оперативность и профессионализм в работе.
            .details: a(href="#") Подробнее →
        .item
          .image
            a(href="images/certificates/small.jpg")
              img(src="images/certificates/small.jpg" alt="")
          .desc
            .title ОАО "ЛОЭСК"
            .username А.А. Паккарь, заместитель генерального директора
            .message Благодарим коллектив ООО «СТОРГЕ» за качественное, своевременное и добросовестное выполнение поставок комплектных трансформаторных подстанций мощностью от 25 до 630 кВА, камер КСО-386, КСО-366, КСО-285, панелей ЩО-70, кабельных делителей КЛ-209, РУВН, распределительных устройств серии КРУ СЭЩ, а также за доброжелательность, оперативность и профессионализм в работе.
            .details: a(href="#") Подробнее →
      .m_paginations
        ul
          li: a(class="prev" href="#")
          li: a(href="#") 1
          li: a(href="#") 2
          li: a(href="#") 3
          li: a(href="#") 4
          li: a(href="#") 5
          li: a(href="#") 6
          li: a(href="#") 7
          li: a(href="#") 8
          li: a(href="#") 9
          li: a(href="#") 10
          li: a(class="next" href="#")

