- var project = "СТОРГЕ"

-
  var list = [
    { title: 'Главная', url: 'home.html' },
    { title: 'Продукция', url: 'catalog.html' },
    { title: 'Продукция (ур. 2)', url: 'catalog-level-2.html' },
    { title: 'Карточка продукта', url: 'product-cart.html' },
    { title: 'Карточка продукта (вер. 2)', url: 'product-cart_2.html' },
    { title: 'О компании', url: 'about.html' },
    { title: 'Вакансии', url: 'vacancy.html' },
    { title: 'Вакансии (внут.)', url: 'vacancy-inner.html' },
    { title: 'Контакты', url: 'contacts.html' },
    { title: 'Опросные листы', url: 'list.html' },
    { title: 'Лицензии', url: 'licence.html' },
    { title: 'Отзывы', url: 'comments.html' },
    { title: 'Референс-лист', url: 'refens-list.html' },
    { title: 'Проектировщикам', url: 'article.html' },
    { title: 'Новости', url: 'news.html' },
    { title: 'Новость', url: 'news-item.html' },
    { title: 'Галерея', url: 'mediagallery.html' },
    { title: 'Галерея (внут.)', url: 'mediagallery-inner.html' },
  ]

doctype html
html(lang="ru")
head
  title= project
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="msapplication-tap-highlight" content="no")
  link(href="https://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic" rel="stylesheet")
  style.
    body {height: 100%; font-family: 'Cuprum', sans-serif;font-size:  24px;margin: 0;background: #fff;}
    h1{font-family: 'Cuprum', cursive;background:#3b3a36;padding: 40px 20px; color: #fff; margin: 0;border-bottom: 20px solid #fff;}
    h2 {font-weight:  normal;cursor:  default;}
    ul {margin: 0;padding-left: 0;margin-left:  20px;overflow:  hidden;}
    li {list-style:  none;}
    a {
      transition: color .15s ease-in;
      color: #312c32;
      text-decoration: none;
      display: inline-block;
      padding: 5px 0;
    }
    a:hover {
      color: #ef284b;
    }
    @media screen and (max-width: 768px) {
      h1{
        padding: 15px 10px;
        font-size: 20px;
        margin-bottom: 0;
        border-bottom: none;
      }
      ul{
        margin-left: 10px;
      }
      a{
        font-size: 18px;
      }
    }
body
  h1= project
  ul
    -each post in list
      li
         a(href =post.url) #{post.title}
