extends ../modules/layout/layout.jade

block title
  title Новости

block data
  include ../static/content/_home.jade

block content
  .page-title(style="background-image: url('images/page-title/9.jpg')")
    .wrapper
      .m_breadcrumbs
        ul
          li: a(href="#") Главная
          li: a(href="#") Новости
          li: a(href="#") Компания «СТОРГЕ» – участник XVII выставки «Энергетика
      .title
        span Новости
  main
    aside.m_sidebar.right
      .button.bfxd
      .m_sidebar-menu
        ul
          li: a(href="#") О компании
          li: a(href="#") Вакансии
          li: a(href="#") Контакты
          li: a(href="#") Новости
          li: a(href="#") Медиагалерея
    .content
      article
        .post-date 11 ноября 2017
        .article-carousel
          .slide: img(src="http://storge-bk.ru/wp-content/uploads/2014/09/P1020298.jpg" alt="")
          .slide: img(src="http://storge-bk.ru/wp-content/uploads/2014/09/P1020296.jpg" alt="")
          .slide: img(src="http://storge-bk.ru/wp-content/uploads/2014/09/P1020302.jpg" alt="")
        p.lead Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.
        lorem(size="6")
        lorem(size="6")
        lorem(size="6")
        lorem(size="6")
        .backward
          a(href="#") ← Вернуться