extends ../modules/layout/layout.jade

block title
  title Электрогазосварщик

block data
  include ../static/content/_home.jade

block content
  .page-title(style="background-image: url('images/page-title/3.jpg')")
    .wrapper
      .m_breadcrumbs
        ul
          li: a(href="#") Главная
          li: a(href="#") Вакансии
          li: a(href="#") Электрогазосварщик
      .title
        span Электрогазосварщик
  main
    aside.m_sidebar.right
      .button.bfxd
      .m_sidebar-menu
        ul
          li: a(href="#") О компании
          li: a(href="#") Вакансии
          li: a(href="#") Контакты
          li: a(href="#") Новости
          li: a(href="#") Медиагалерея
    .content
      .m_vacancy-header
        .cost
          .label Уровень зарплаты
          .value 100 000 руб.
        .experience
          .label Опыт работы
          .value от 1 до 3 лет
      article
        h4 Обязанности:
        ol
          li Ручная дуговая, плазменная и газовая сварка средней сложности деталей, узлов, конструкций и трубопроводов из конструкционных сталей, чугуна, цветных металлов и сплавов и сложных деталей узлов, конструкций и трубопроводов из углеродистых сталей во всех пространственных положениях сварного шва.
          li Автоматическая и механическая сварка средней сложности и сложных аппаратов, узлов, конструкций трубопроводов из различных сталей, чугуна, цветных металлов и сплавов.
          li Автоматическая сварка ответственных сложных строительных и технологических конструкций, работающих в сложных условиях.
          li Ручная кислородная, плазменная и газовая прямолинейная и фигурная резка и резка бензорезательными и керосинорезательными аппаратами на переносных, стационарных и плазморезательных машинах, в различных положениях сложных деталей из различных сталей, цветных металлов и сплавов по разметке.
        h4 Требования:
        ol
          li Электрогазосварщик от 3-го разряда
          li Обязательно наличие действующего удостоверения электрогазосварщика!
          li Наличие удостоверения НАКС
          li Стаж работы электрогазосварщиком обязателен - от 3-х лет
          li Отсутствие разрывов в трудовом стаже, при наличии разрывов, подтверждение трудовой деятельности или иной занятости на данный период
          li Наличие всех обязательных документов для трудоустройства
        h4 Условия:
        ol
          li Оформление в соответствии с ТК РФ
          li «Белая» заработная плата, своевременная выплата
          li Заработная плата по 3 разряду 57100 до 67200 руб. в месяц
          li Заработная плата по 4 разряду 65300 до 77800 руб. в месяц
          li График работы – 5/2 (Сменный)
          li Рабочий день – 8 часов
          li Проезд с текущего места жительства до места работы и нового места жительства за счет работодателя
          li Компенсация оплаты провоза багажа
          li Выплата «подъемных» для обустройства на новом месте жительства (до 45 тыс. рублей)
          li Компенсация проживания (найма жилья) на 3-х летний период (до 15 тыс. рублей в месяц)
        p Убедительная просьба ВНИМАТЕЛЬНО ознакомиться с ТРЕБОВАНИЯМИ и УСЛОВИЯМИ<br>Звонить по указанным в вакансии телефонам:<br>с ПН по ПТ - тс 05:00 до 16:00 по московскому времени<br>СБ и ВС - с 10:00 до 14:00 по московскому времени
      .m_form
        .title Отправить резюме на вакансию
        form
          .form-row
            label.required
              span.label ФИО
              input(type="text" placeholder="Иванов Иван Иванович" required autocomplete="off")
          .form-row
            label.required
              span.label Телефон
              input(type="tel" class="mask-tel" placeholder="+7 (___) ___-__-__" required autocomplete="off")
          .form-row
            label.required
              span.label E-mail
              input(type="email" name="buy-email" placeholder="info@yourmail.com" required autocomplete="off")
          .form-row
            label.required
              span.label Комментарий
              textarea(name="buy-message" placeholder="Дополнительная информация" required)
          .form-row
            .attach-file
              .label.required Резюме
              label
                input(type="file" name="ask-file")
                span.icon
                span.text Прикрепить файл
              .attach-file-result
                .val
                .remove(title="Удалить файл")
          .form-row
            button(class="button red" type="submit") Откликнуться на вакансию