.m_vacancy
  clearfix()
  .item
    border-bottom 1px solid $border
    padding-bottom 15px
    margin-bottom 15px
    .title
      margin-bottom 15px
      a
        font-size 24px
        color $blue
        @media MD
          font-size 30px
        &:hover
          color #000
    .cost
      margin-bottom 15px
      font-size 14px
      color #000
    .desc
      font-size 14px
      color #999999