.m_ref-list
  position relative
  margin-bottom 30px
  table
    th
      background #f7f7f7
      border none
      border-bottom 2px solid #ebebeb
      font-weight bold
      text-align center
    td
      background #fff
      border none
      border-bottom 1px solid #dcdcdc