.m_sidebar-consult
  display none
  background #f5f7ff
  border 1px solid #eaeef8
  border-radius $radius
  padding 20px 10px
  @media SM
    display block
  .title
    font-weight bold
    text-align center
    font-size 16px
    text-transform uppercase
    margin-bottom 15px
  p
    color #555555
    font-size 14px
    text-align center
  .action
    text-align center
    margin-bottom 10px
    a
      padding 10px 20px
  .tel
    text-align center
    span
      display block
      font-size 12px
      color #777777
    a
      font-weight bold
      font-size 24px
      color #000
