.m_about-icons
  margin-bottom 30px
  @media MD
    margin-bottom 50px
  .item
    padding-left 80px
    background-position left center
    background-repeat no-repeat
    height 85px
    @media XS
      height 95px
    @media MD
      height 75px
    .text
      font-size 14px
      line-height 1.5
      font-weight bold
      @media XS
        line-height 1.2
      @media MD
        line-height 1.5